<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Silly Nerd Memes</title>
    </head>
    <body>
    <h1>The Best Memes</h1>
        <nav>
            <ul>
                <li><a href="/memes">All Memes</a></li>
                <li><a href="meme/1">Code Girls</a></li>
                <li><a href="meme/2">I Know</a></li>
                <li><a href="meme/0">Danger</a></li>
            </ul>
        </nav>
    </body>
</html>
